.plus-circle {
	display: flex;
	height: 2rem;
	width: 2rem;
	border-radius: 50%;
	border: 2px solid #c3c3c3;
	cursor: pointer;
	transition: all 0.2s;
}

.plus-circle:hover {
	background-color: #807e7e1f;
}
